*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	background-color: rgb(185, 184, 184);
}
img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 50%;
	border-radius: 5px;
	filter: grayscale(1);
	transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
}
#one{
	
	left: 25%;
}

#three{
	left: 75%;
}
img:hover{
	border-radius: 30px;
	height: 60%;
	filter: grayscale(0);
	
}